<div class="main">
  <div class="container">
    <h1>Waarmee kunnen wij u van dienst zijn?</h1>
    <div class="dropdown">
      <button class="btn btn-custom dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        Selecteer een categorie
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div *ngFor="let category of this.categories" class="dropdown-item"
             (click)="onSelectCategory(category.id)">{{ category.name }}</div>
      </div>
    </div>
    <div class="dropdown" *ngIf="selectedCategoryId != null">
      <button class="btn btn-custom dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        Selecteer een vragenboom
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div *ngFor="let collection of this.collections" class="dropdown-item"
             (click)="goToSelection(collection.id)">{{ collection.name }}</div>
      </div>
    </div>

  </div>
</div>

<app-custom-navigation></app-custom-navigation>
