.main
{
    background-color: #FFD806;
    background-image: url("../../assets/background-login-image@2x.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 90vh;
}

.bottom
{
    background-color: gray;
    height: 5.75vh;
}

.container > h1
{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.dropdown
{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    padding: 10px;
}