<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand ml-auto" href="#">Admin</a>
</nav>


<div class="main">
    
    <div class="container">
        
        <h1>Waarmee kunnen wij u van dienst zijn?</h1>
        
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Selecteer vraagstuk
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Reisvoucher</a>
                <a class="dropdown-item" href="#">Ticketmaster</a>
                <a class="dropdown-item" href="#">Roblox Quiz</a>
            </div>
        </div>
        
    </div>
    
    
</div>

<app-custom-navigation></app-custom-navigation>
