.main {
  background-color: #FFD806;
  background-image: url("../../assets/background-login-image@2x.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 90vh;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 86px);

    h1 {
      text-align: center;
      padding: 10px;
    }

    .dropdown {
      text-align: center;
      padding: 10px;

      .btn-custom {
        background-color: white;
      }

      .dropdown-menu .dropdown-item {
        cursor: pointer;
      }
    }
  }
}
