<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand ml-auto" href="#">Admin</a>
</nav>

<div class="main">
    
    <div class="container">

        <h1>Iets van tekst hier in de trant van hoe kan ik u helpen?</h1>

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Selecteer vraagstuk
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>

    </div>

    
</div>

<div class="bottom">
    
</div>