<div class="jumbotron vertical-center">
  <div class="container modal-login">
    <div class="row">
      <div class="col">
        <div class="container align-items-center">
          <br>
          <app-login-form *ngIf="currentView === 'login'" (changeView)="currentView = 'pass'"></app-login-form>
          <app-password-forgot *ngIf="currentView !== 'login'" (changeView)="currentView = 'login'"></app-password-forgot>
        </div>
      </div>
      <div class="col bg-image-col">
        <img class="bg-image" src="assets/background-login-image@2x.png" alt="Arag achtergrond">
      </div>
    </div>
  </div>
</div>
