<app-admin-navigation [selectedCollectionId]="this.selectedCollection.id" (createCategor)="createCategory()" (changeCategor)="changeCategory()" (deleteCategor)="deleteCategory()"></app-admin-navigation>
<app-admin-breadcrumb></app-admin-breadcrumb>
<div class="container-fluid">
    <div class="row">
        <div class="sidebar__wrapper col-sm-3 ">
            <div class="sidebar__header container-fluid ">
                <div class="sidebar__header-row row">
                    <div class="sidebar__col col-sm-8">
                        <h1 class="sidebar__heading">Collecties</h1>
                    </div>
                </div>
              <div class="row">
                <button type="button" class="sidebar__btn btn" (click)="newCollection()" style="float: right; margin: 0 20px 0 20px">
                  Nieuwe collectie
                </button>
              </div>
            </div>
            <div class="sidebar-content container-fluid">
                <div class="sidebar-content__row row">
                    <ul class="sidebar-content__list content-list" >
                        <li *ngFor="let el of this.categorien; let i = index"
                            [ngClass]="{'active': el.id === selectedCollection.id }" class="content-list__item"
                            style="cursor: pointer">
                          <div class="row category" (click)="chooseCategory(el, i)">
                            <div class="col-md-2 category-image">
                              <img src="{{el.icon_url}}" alt="">
                            </div>
                            <div class="col-md-10">
                              <a><strong>{{ el.name }}</strong></a>
                            </div>
                          </div>
                          <div class="col-md-9 offset-2">
                            <ul *ngIf="this.selectedIndex === i" style="list-style-type: none">
                              <li class="pl-2" *ngFor="let col of this.collectionsFromCategory"
                                  (click)="changeSelectedCollection(col)">
                                <a>{{ col.name }}</a>
                              </li>
                            </ul>
                          </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="admin-content col-sm-9">
            <div class="container-fluid">
                <div class="admin-content__wrapper container-fluid">
                    <div class="admin-content__header row">
                        <div class="admin-content__col col">
                            <div class="alert alert-primary" role="alert" *ngIf="!selectedCollectionIsEmpty">
                                Selecteer een collectie om verder te gaan
                            </div>
                            <div class="row">
                                <h1 *ngIf="selectedCollectionIsEmpty" class="admin-content__heading">{{this.selectedCollectionName}}</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="admin-content__content-table row">
                    <table class="content-table table">
                        <thead class="content-table__head">
                          <tr>
                            <th scope="col">Titel</th>
                            <th scope="col">Status</th>
                            <th scope="col">Versie</th>
                            <th scope="col">&nbsp;</th>
                          </tr>
                        </thead>
                        <tbody class="content-table__body">
                        <tr class="content-table__row" *ngFor="let collection of this.selectedCollections; let i = index">
                          <td (click)="editCollection(collection)">{{collection.name}}</td>
                          <td><span class="content-table__status {{collection.type}}" (click)="changeStatus(collection, i)">{{collection.type}}</span></td><td>{{collection.version}}</td>
                          <td class="content-table__actions-cel">
                            <icon-edit (click)="changeStatus(collection, i)"></icon-edit>
                            <icon-clone (click)="cloneCollection(collection)"></icon-clone>
                            <icon-remove (click)="deleteCollection(collection, i)"></icon-remove>
                            <button *ngIf="selectedCollectionIsEmpty" class="sidebar__btn btn" style="margin: auto 0 0 auto; float: right" (click)="LiveViewStart(collection)">Live weergeven</button>
                          </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Create new Collection modal -->
<div class="modal" tabindex="-1" [ngClass]="{ 'modal__active': openFirstQuestionModal }">
    <div class="modal-dialog">
        <div class="modal-content" style="padding: 0 20px 0 20px">
            <div class="modal-header">
                <h5 class="modal-title">Eerste vraag aanmaken</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeFirstQuestionModal();questionForm.resetForm();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Voer de volgende gegevens in van de eerste vraag:</p>
                <form #questionForm="ngForm" (ngSubmit)="onSubmit(questionForm.value); questionForm.resetForm();">
                    <div class="form-row">
                        <div class="col">
                            <label for="validationDefault01">Vraag</label>
                            <input type="text" class="form-control" id="validationDefault01" name="question" required ngModel>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="exampleFormControlSelect1">Type vraag</label>
                        <select class="form-control" name="type" id="exampleFormControlSelect1" ngModel required>
                            <option value="dropdown" selected="selected">Dropdown</option>
                        </select>
                    </div>
                    <hr>
                    <button type="button" class="btn btn-light" data-dismiss="modal" (click)="closeFirstQuestionModal();questionForm.resetForm();">Annuleren</button>
                    <button type="submit" class="modal__btn btn btn-primary">Aanmaken</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" [ngClass]="{ 'modal__active': LiveView }" *ngIf="LiveView">
  <div class="modal-dialog" style="max-width: 100%; width: 80%">
    <div class="modal-content" style="padding: 0 20px 0 20px">
      <div class="modal-header">
        <h5 class="modal-title">Collectie: {{LiveViewCollection.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="LiveView = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-collection-live [collection]="LiveViewCollection"></app-collection-live>
      </div>
    </div>
  </div>
</div>
