<app-admin-navigation></app-admin-navigation>
<app-admin-breadcrumb></app-admin-breadcrumb>
<div class="container-fluid">
    <div class="row">
        <div class="sidebar__wrapper col-sm-3 ">
            <div class="sidebar__header container-fluid ">
                <div class="sidebar__header-row row">
                    <div class="sidebar__col col-sm-8">
                        <h1 class="sidebar__heading">Collecties</h1>
                    </div>
                    <div class=" sidebar__col col-sm-4">
                        <button type="button" class="sidebar__btn btn">
                            Nieuw
                        </button>
                    </div>
                </div>
            </div>
            <div class="sidebar-content container-fluid">
                <div class="sidebar-content__row row">
                    <ul class="sidebar-content__list content-list">
                        <li class="content-list__item active"><a href="#">Reisvoucher</a></li>
                        <li class="content-list__item"><a href="#">Reisvoucher 2</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="admin-content col-sm-9">
            <div class="admin-content__wrapper container-fluid">
                <div class="admin-content__header row">
                    <div class="admin-content__col col">
                        <h1 class="admin-content__heading">Reisvoucher</h1>
                    </div>
                </div>
                <div class="admin-content__content-table row">
                    <table class="content-table table">
                        <thead class="content-table__head">
                          <tr>
                            <th scope="col">Titel</th>
                            <th scope="col">Status</th>
                            <th scope="col">Versie</th>
                            <th scope="col">&nbsp;</th>
                          </tr>
                        </thead>
                        <tbody class="content-table__body">
                          <tr class="content-table__row">
                            <td>Reisvoucher</td>
                            <td><span class="content-table__status concept">Concept</span></td>
                            <td>v1.2</td>
                            <td class="content-table__actions-cel">
                                <icon-edit></icon-edit>
                                <icon-clone></icon-clone>
                                <icon-remove></icon-remove>
                            </td>
                          </tr>
                          <tr class="content-table__row">
                            <td>Reisvoucher</td>
                            <td><span class="content-table__status archieved">Concept</span></td>
                            <td>v1.1</td>
                            <td class="content-table__actions-cel">
                                <icon-edit></icon-edit>
                                <icon-clone></icon-clone>
                                <icon-remove></icon-remove>
                            </td>
                          </tr>
                          <tr class="content-table__row">
                            <td>Reisvoucher</td>
                            <td><span class="content-table__status published">Concept</span></td>
                            <td>v1.0</td>
                            <td class="content-table__actions-cel">
                                <icon-edit></icon-edit>
                                <icon-clone></icon-clone>
                                <icon-remove></icon-remove>
                            </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Create new Collection modal -->
<div class="modal " tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Collectie aanmaken</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Kies een status voor de volgende collectie:</p>
                <p>Reisvoucher - v1.2</p>
                <select class="modal__form-select form-select form-select-sm" aria-label=".form-select-sm example">
                    <option selected>Concept</option>
                    <option value="1">Archieved</option>
                    <option value="2">Published</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Annuleren</button>
                <button type="button" class="modal__btn btn btn-primary">Aanpassen</button>
            </div>
        </div>
    </div>
</div>


<!-- Change status modal -->
<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Status aanpassen</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Kies een status voor de volgende collectie:</p>
                <p>Reisvoucher - v1.2</p>
                <select class="modal__form-select form-select form-select-sm" aria-label=".form-select-sm example">
                    <option selected>Concept</option>
                    <option value="1">Archieved</option>
                    <option value="2">Published</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Annuleren</button>
                <button type="button" class="modal__btn btn btn-primary">Aanpassen</button>
            </div>
        </div>
    </div>
</div>


<!-- Copy collection modal Active:  modal__active -->
<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Collectie kopiëren</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Weet u zeker, dat u de volgende collectie wilt kopiëren</p>
                <p>Reisvoucher - v1.2</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Annuleren</button>
                <button type="button" class="modal__btn btn btn-primary">Kopiëren</button>
            </div>
        </div>
    </div>
</div>


<!-- Remove collection modal Active:  modal__active -->
<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Collectie verwijderen</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Weet u zeker, dat u de volgende collectie wilt verwijderen:</p>
                <p>Reisvoucher - v1.2</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Annuleren</button>
                <button type="button" class="modal__btn modal__btn-danger btn btn-danger">verwijderen</button>
            </div>
        </div>
    </div>
</div>
