<h1>Login</h1>
<p>Hier kunt u veilig inloggen op de beheerders portaal van ARAG legal.</p>

<form #postForm="ngForm" (ngSubmit)="onFormSubmit(postForm.value)">
  <label for="title">Email</label>
  <div class="form-group has-error">
    <input type="text" [ngClass]="{'failure': !succes}" class="form-control" id="title" required ngModel name="email"/>
  </div>
  <label for="content">Wachtwoord</label>
  <div class="input-group mb-3">
    <input type="text" [ngClass]="{'failure': !succes}" class="form-control" id="content" required ngModel name="password"/>
  </div>

  <div class="row align-items-center">
    <div class="col no-padding"><button type="button" class="btn btn-light" (click)="viewPass()">Wachtwoord vergeten?</button></div>
    <div class="col text-right no-padding"><button type="submit" class="btn btn-warning" [disabled]="!postForm.valid">Login</button></div>
  </div>
</form>

