<app-custom-navigation></app-custom-navigation>
<div class="jumbotron vertical-center">
  <div class="container modal-login">
    <div class="row">
        <div class="container align-items-center">
          <br>
          <h1>Reisvoucher</h1>
          <br>
          <h3 for="basic-url">Wat heeft u geboekt?</h3>
          <div class="input-group mb-3">
            <div class="dropdown">
              <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
          <h3 for="basic-url">Heeft u uw vliegtickets rechtstreeks bij een luchtmaatschappij geboekt?</h3>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
              Default radio
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              Second default radio
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
            <label class="form-check-label" for="exampleRadios3">
              Disabled radio
            </label>
          </div>
          <br>
        </div>
    </div>
  </div>
</div>
