<app-admin-navigation></app-admin-navigation>
<app-admin-breadcrumb [active]="routes" [activeNormal]="routesNormal" (goToQ)="goTo($event)"></app-admin-breadcrumb>
<div class="container-fluid" *ngIf="isDataAvailable">
  <div class="row">
    <div class="sidebar__wrapper col-sm-3 ">
      <div class="sidebar__header container-fluid ">
        <div class="sidebar__header-row row">
          <div class="sidebar__col col-sm-8">
            <h1 class="sidebar__heading">{{this.selectedCollection.name}}</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="admin-content col-sm-9">
      <div class="container-fluid">
        <div class="admin-content__wrapper container-fluid">
          <div class="admin-content__header row">
            <div class="admin-content__col col">
              <h1><b>Vraag</b></h1>
              <h3>{{this.firstQuestion['name']}}</h3>
            </div>
          </div>
        </div>
        <div class="admin-content__content-table row">
          <table class="content-table table">
            <thead class="content-table__head">
            <tr>
              <th scope="col">Antwoorden op vraag</th>
              <th scope="col">Waarschuwingen</th>
              <th scope="col"><button (click)="createAnswer()" class="sidebar__btn btn">Nieuw antwoord</button></th>
            </tr>
            </thead>
            <tbody class="content-table__body">
            <tr class="content-table__row" *ngFor="let el of this.answers; let i = index">
              <td class="va">{{el.name}}</td>
              <td class="va"><span class="content-table__status" *ngIf="!el.hasNotification">Bevat geen notificatie</span><span class="content-table__status" style="background-color: orange" *ngIf="el.hasNotification">Notificatie</span></td>
              <td class="content-table__actions-cel va">
                <icon-edit (click)="editAnswer(el, i)"></icon-edit>
                <icon-remove (click)="removeAnswer(el, i)"></icon-remove>
                <icon-arrow *ngIf="!el.hasNotification" (click)="nextQuestion(el)"></icon-arrow>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<swal #textEditor (confirm)="textEditorFunc()">
  <div *swalPortal>
    <h1>{{this.currText}}</h1>
    <app-rich-text-editor (data)="this.currData = $event"></app-rich-text-editor>
  </div>
</swal>

<swal #notificationTab showConfirmButton="false" (confirm)="newNotification()" >
  <div *swalPortal>
    <table style="width: 100%">
      <tr>
        <th>Notificaties voor deze collectie</th>
      </tr>
      <tr>
        <select class="form-control" id="sel1" (change)="currSelected = $event.target.value">
          <option value="{{i.id}}" *ngFor="let i of this.notifications" [innerHTML]="i.text"></option>
        </select>
      </tr>
    </table>
  </div>
</swal>
