/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "TisaWeb";
    src: url(./assets/fonts/TisaWeb-Regular/TisaWeb-Regular.woff);
}

$fontMain: Arial, sans-serif !default;
$fontHeader: 'TisaWeb', Helvetica, Arial, sans-serif !default;

$ctaBtnBackgroundColor: #FFD806;
$ctaBtnBackgroundColorHover: darken($ctaBtnBackgroundColor, 3%);
$ctaBtnColor: #000000;
$ctaBtnColorHover: #000000;

$textColor: #333333;

$statusPublished: #29D830;
$statusConcept: #FFA906;
$statusArchieved: #F6F6F6;

.row {
    margin: 0;
}

.container {
    &-fluid {
        padding-left: 0;
        padding-right: 0;
    }
}

.sidebar {

    &__col {
        padding-left: 0;
        padding-right: 0;
    }

    &__wrapper {
        background-color: #f8f8f8;
        height: calc(100vh - (48px + 86px));
        padding: 0;
    }

    &__header {
        padding: 40px 0 0 0;
        
        &-row {
            padding: 0 20px 0 20px;

            .btn {
                float: right;
            }
        }
    }

    &__heading {
        font-family: $fontHeader;
        font-weight: 1000;
    }

    &__btn {
        background-color: $ctaBtnBackgroundColor;
        color: $ctaBtnColor;

        &:hover {
            background-color: $ctaBtnBackgroundColorHover;
            color: $ctaBtnColorHover;
        }
    }

    &-content {
        padding-top: 40px;
        padding-left: 20px;
    }
}

.content-list {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;

    &__item {
        margin-bottom: 10px;
        border-radius: 5px 0 0 5px;

        a {
            width: 100%;
            color: $textColor;
            text-decoration: none;
            display: block;
            padding: 15px 0px 15px 30px;
            border-radius: 5px;
            transition: all .2s ease-in;
        }

        &.active {
            background-color: #fff;
            font-weight: 700;
        }

        &:hover {
            background-color: #fff;
        }
    }
}

.admin-content {
    padding-left: 0;
    padding-right: 0;

    &__wrapper {
        padding: 40px 20px 20px 20px;
    }

    &__heading {
        font-family: $fontHeader;
        font-weight: 700;
        margin-left: 20px;
        margin-right: 20px;
    }

    &__content-table {
        padding: 40px 20px 40px 20px;
    }
}

.content-table {



    &__status {
        font-size: .8rem;
        padding: 5px 10px;
        border-radius: 25px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);

        &.concept { background-color: $statusConcept; }
        &.published { background-color: $statusPublished; }
        &.archieved { background-color: $statusArchieved; }
    }
}