.icon {
  color: $iconDefaultColor;
  opacity: 0.6;
  height: 20px;
  width: auto;
  transition: all .2 ease-in;
  margin-right: 20px;

  &__clone {
  }

  &__remove {
    color: $iconRemoveColor;
  }

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
}
