$fontMain: Arial, sans-serif !default;
$fontHeader: 'TisaWeb', Helvetica, Arial, sans-serif !default;

$ctaBtnBackgroundColor: white;
$ctaBtnBackgroundColorHover: darken($ctaBtnBackgroundColor, 10%);
$ctaBtnColor: #000000;
$ctaBtnColorHover: #000000;

$dangerBtnBackgroundColor: #dc3545;
$dangerBtnBackgroundColorHover: darken(#dc3545, 6%);
$dangerBtnColor: #fff;
$dangerBtnColorHover: #fff;

$textColor: #333333;

$statusPublished: #29D830;
$statusConcept: #FFA906;
$statusArchived: #F6F6F6;

// Icons
$iconDefaultColor: #333;
$iconStatusColor: $iconDefaultColor;
$iconRemoveColor: #DA2F0C;
