<!-- <app-question></app-question> -->
<app-custom-navigation></app-custom-navigation>
<div class="jumbotron vertical-center">
  <div class="container modal-login">
    <div class="row">
      <div class="container align-items-center">
        <br>
        <h1>{{ collectionName }}</h1>
        <br><br>
        <h3 for="basic-url">{{ currentQuestion.name }}</h3>
        <div class="dropdown" *ngIf="!showNotification">
          <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Jouw antwoord
            <span class="caret"></span></button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div *ngFor="let answer of currentQuestion.answers">
              <a class="dropdown-item" (click)="onAnswered(answer)" [ngClass]="{'active': lastAnswer && lastAnswer.id == answer.id}">{{ answer.name }}</a>
            </div>
          </div>
        </div>
        <!-- <div *ngIf="showNotification" [innerHTML]="showNotification.text"></div> -->

        <div class="alert alert-success" role="alert" *ngIf="showNotification">
          <h4 class="alert-heading">Notificatie</h4>
          <hr>
          <p class="mb-0" [innerHTML]="showNotification.text"></p>
        </div>

        <div *ngIf="showEndInfo">
          <hr>
          <p><b>Beantwoord dit uw vraag?</b></p>
          <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#extraInfoJa" role="button" aria-expanded="false" aria-controls="extraInfoJa">
              Ja
            </a>
          </p>
          <div class="collapse" id="extraInfoJa">
            <div class="card card-body">
              We zijn blij te horen u van dienst te zijn geweest!
            </div>
          </div>
          <br>
          <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#extraInfoNee" aria-expanded="false" aria-controls="extraInfoNee">
              Nee
            </button>
          </p>
          <div class="collapse" id="extraInfoNee">
            <div class="card card-body">
              Wat jammer om te horen. We zouden u telefonisch te woord te kunnen staan om u verder te helpen.<br>
              Telefoon: 033 43 42 342<br>
              Bereikbaar ma/vr 8.30 - 17.30 (Lokaal tarief)
            </div>
          </div>

        </div>

        <br><br>
<!--        <div *ngIf="!isFirstQuestion">-->
          <div class="btn" type="button" id="previousQuestionButton" (click)="onGoBack()">
            <img src="../../../assets/question_progress/left_arrow_sign.png" width="32" height="32" class="d-inline-block align-bottom" alt="" loading="lazy">
          </div>
<!--        </div>-->
        <div class="btn" type="button" id="nextQuestionButton" hidden="hidden">
          <img src="../../../assets/question_progress/right_arrow_sign.png" width="32" height="32" class="d-inline-block align-bottom" alt="" loading="lazy">
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
